# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
staticfiles/
media/
metrics.log

# Migrations 
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
